{% load static %} 
<!DOCTYPE html>
<html>
<head>

<style>
    .outer{
        margin-top: 0px;
        margin-left: 0px;
        width:1350px;
        height:800px; 
        display:inline-block;
/*        border: 3px solid black;*/
    }
    .collapsible {
          /*background-color: #777;*/
          color: white;
          cursor: pointer;
          width: 200px;
          border: none;
          text-align: center;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 20px;
          outline: none;
        }
/*    #module{
            display: none;
            overflow: hidden;
        }*/
    .container{
        margin-top: 0px;
        color: white;
        text-align: center; 
        width:200px;
        height:800px;   
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        border: 1px solid black; 
        background-color: #34B33D;
        text-align:center;
        position: absolute;
        margin-left: 0%;
    }
    label,input,select {
        width: 180px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
    }
    p{
        margin-top: 270px;
        text-align: center;
        font-size: 100px;
        font-family: Times New Roman, serif;
    }
    input[id="submit"]{
/*        margin-bottom: 495px;*/
        padding: 7px 25px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
        background-color: #777; /* Green */
        margin-top: 8px;
        margin-bottom: 5px;
        color: white;
    }
        button:hover {
          background-color: #A1CDEF;
        }
    a:hover{
        background-color: #A1CDEF;
    }
    .content1{
        color: #34B33D;
        margin-top: 0px;
        margin-left: 200px;
/*        background-color: #B5C2CB;*/
        width:1210px;
        height:800px;   
        font-family: Times New Roman, serif;
        font-size: 100px;
        position: absolute;
    }
    .linkTo{
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        text-decoration: none;
/*        background-color: #777; /* Green */*/
        margin-top: 8px;
        margin-bottom: 8px;
        color: white;
    }
</style>

</head>
<body>
<div class="outer">
    <div class="container">
<!--           <button id="dropdown1" type="button" class="collapsible">Trade Analysis</button> --></br>
          <div class="module">
          <form action="graph" method="post">
                {% csrf_token %}
                <label for="imex" id="imex">Status:</label>
                <select name="imexpo" class="imexpo">
                      <option value="进口">Import</option>
                      <option value="出口">Export</option>
                </select></br>
                <label for="Country">Country:</label>
                <select name="country" class="country">
                    <option value="中国">中国</option>
                    <option value="丹麦">丹麦</option>
                    <option value="俄罗斯">俄罗斯</option>
                    <option value="刚果共和国">刚果共和国</option>
                    <option value="印度">印度</option>
                    <option value="印度尼西亚">印度尼西亚</option>
                    <option value="土耳其">土耳其</option>
                    <option value="塞拉利昂">塞拉利昂</option>
                    <option value="墨西哥">墨西哥</option>
                    <option value="奥地利">奥地利</option>
                    <option value="安提瓜和巴布达">安提瓜和巴布达</option>
                    <option value="尼日利亚">尼日利亚</option>
                    <option value="尼泊尔">尼泊尔</option>
                    <option value="巴基斯坦">巴基斯坦</option>
                    <option value="巴西">巴西</option>
                    <option value="美国">美国</option>
                    <option value="德国">德国</option>
                    <option value="意大利">意大利</option>
                    <option value="挪威">挪威</option>
                    <option value="斯里兰卡">斯里兰卡</option>
                    <option value="新加坡">新加坡</option>
                    <option value="新西兰">新西兰</option>
                    <option value="法国">法国</option>
                    <option value="泰国">泰国</option>
                    <option value="澳大利亚">澳大利亚</option>
                    <option value="澳门">澳门</option>
                    <option value="瑞典">瑞典</option>
                    <option value="瑞士">瑞士</option>
                    <option value="白俄罗斯">白俄罗斯</option>
                    <option value="缅甸">缅甸</option>
                    <option value="肯尼亚">肯尼亚</option>
                    <option value="芬兰">芬兰</option>
                    <option value="英国">英国</option>
                    <option value="荷兰">荷兰</option>
                    <option value="菲律宾">菲律宾</option>
                    <option value="越南">越南</option>
                    <option value="阿根廷">阿根廷</option>
                    <option value="韩国">韩国</option>
                    <option value="香港">香港</option>
                    <option value="马来西亚">马来西亚</option>
                    <option value="乌克兰">乌克兰</option>
                    <option value="危地马拉">危地马拉</option>
                    <option value="吉尔吉斯斯坦">吉尔吉斯斯坦</option>
                    <option value="哈萨克斯坦">哈萨克斯坦</option>
                    <option value="土库曼斯坦">土库曼斯坦</option>
                    <option value="波兰">波兰</option>
                    <option value="加纳">加纳</option>
                    <option value="卢旺达">卢旺达</option>
                    <option value="巴林">巴林</option>
                    <option value="捷克共和国">捷克共和国</option>
                    <option value="斯洛文尼亚">斯洛文尼亚</option>
                    <option value="沙特阿拉伯">沙特阿拉伯</option>
                    <option value="爱尔兰">爱尔兰</option>
                    <option value="突尼斯">突尼斯</option>
                    <option value="罗马尼亚">罗马尼亚</option>
                    <option value="萨尔瓦多">萨尔瓦多</option>
                    <option value="西班牙">西班牙</option>
                    <option value="孟加拉国">孟加拉国</option>
                    <option value="巴拿马">巴拿马</option>
                    <option value="秘鲁">秘鲁</option>
                    <option value="阿尔及利亚">阿尔及利亚</option>
                    <option value="冰岛">冰岛</option>
                    <option value="古巴">古巴</option>
                    <option value="哥伦比亚">哥伦比亚</option>
                    <option value="埃及">埃及</option>
                    <option value="安哥拉">安哥拉</option>
                    <option value="安道尔">安道尔</option>
                    <option value="巴拉圭">巴拉圭</option>
                    <option value="布隆迪">布隆迪</option>
                    <option value="文莱">文莱</option>
                    <option value="格陵兰岛">格陵兰岛</option>
                    <option value="法属波利尼西亚">法属波利尼西亚</option>
                    <option value="爱沙尼亚">爱沙尼亚</option>
                    <option value="百慕大">百慕大</option>
                    <option value="科威特">科威特</option>
                    <option value="老挝">老挝</option>
                    <option value="葡萄牙">葡萄牙</option>
                    <option value="阿富汗">阿富汗</option>
                    <option value="阿拉伯联合酋长国">阿拉伯联合酋长国</option>
                    <option value="阿曼">阿曼</option>
                    <option value="黎巴嫩">黎巴嫩</option>
                    <option value="乌拉圭">乌拉圭</option>
                    <option value="刚果民主共和国">刚果民主共和国</option>
                    <option value="坦桑尼亚">坦桑尼亚</option>
                    <option value="埃塞俄比亚">埃塞俄比亚</option>
                    <option value="所罗门群岛">所罗门群岛</option>
                    <option value="津巴布韦">津巴布韦</option>
                    <option value="蒙古">蒙古</option>
                    <option value="特立尼达和多巴哥共和国">特立尼达和多巴哥共和国</option>
                    <option value="马达加斯加">马达加斯加</option>
                    <option value="柬埔寨">柬埔寨</option>
                    <option value="马耳他">马耳他</option>
                    <option value="科特迪瓦">科特迪瓦</option>
                    <option value="苏里南">苏里南</option>
                    <option value="保加利亚">保加利亚</option>
                    <option value="卡塔尔">卡塔尔</option>
                    <option value="喀麦隆">喀麦隆</option>
                    <option value="科摩罗">科摩罗</option>
                    <option value="莫桑比克">莫桑比克</option>
                    <option value="吉布提">吉布提</option>
                    <option value="塞内加尔">塞内加尔</option>
                    <option value="多米尼克国">多米尼克国</option>
                    <option value="委内瑞拉">委内瑞拉</option>
                    <option value="毛里塔尼亚">毛里塔尼亚</option>
                    <option value="阿塞拜疆">阿塞拜疆</option>
                    <option value="阿鲁巴岛">阿鲁巴岛</option>
                    <option value="立陶宛">立陶宛</option>
                    <option value="哥斯达黎加">哥斯达黎加</option>
                    <option value="巴布亚新几内亚">巴布亚新几内亚</option>
                    <option value="乌兹别克斯坦">乌兹别克斯坦</option>
                    <option value="乌干达">乌干达</option>
                    <option value="克罗地亚">克罗地亚</option>
                    <option value="几内亚比绍">几内亚比绍</option>
                    <option value="塞浦路斯">塞浦路斯</option>
                    <option value="尼加拉瓜">尼加拉瓜</option>
                    <option value="拉脱维亚">拉脱维亚</option>
                    <option value="斯洛伐克">斯洛伐克</option>
                    <option value="格林纳达">格林纳达</option>
                    <option value="海地">海地</option>
                    <option value="玻利维亚">玻利维亚</option>
                    <option value="索马里">索马里</option>
                    <option value="苏丹">苏丹</option>
                    <option value="阿尔巴尼亚">阿尔巴尼亚</option>
                    <option value="马尔代夫">马尔代夫</option>
                    <option value="利比亚">利比亚</option>
                    <option value="尼日尔">尼日尔</option>
                    <option value="布基纳法索">布基纳法索</option>
                    <option value="摩尔多瓦">摩尔多瓦</option>
                    <option value="摩洛哥">摩洛哥</option>
                    <option value="格鲁吉亚">格鲁吉亚</option>
                    <option value="几内亚">几内亚</option>
                    <option value="厄瓜多尔">厄瓜多尔</option>
                    <option value="多哥">多哥</option>
                    <option value="毛里求斯">毛里求斯</option>
                    <option value="马里">马里</option>
                    <option value="塔吉克斯坦">塔吉克斯坦</option>
                    <option value="巴哈马">巴哈马</option>
                    <option value="贝宁">贝宁</option>
                    <option value="马拉维">马拉维</option>
                    <option value="多米尼加共和国">多米尼加共和国</option>
                    <option value="斐济">斐济</option>
                    <option value="洪都拉斯">洪都拉斯</option>
                    <option value="不丹">不丹</option>
                    <option value="北马其顿共和国">北马其顿共和国</option>
                    <option value="波斯尼亚和黑塞哥维那">波斯尼亚和黑塞哥维那</option>
                    <option value="圣卢西亚">圣卢西亚</option>
                    <option value="塞舌尔">塞舌尔</option>
                    <option value="圭亚那">圭亚那</option>
                    <option value="冈比亚">冈比亚</option>
                    <option value="密克罗尼西亚">密克罗尼西亚</option>
                    <option value="萨摩亚">萨摩亚</option>
                    <option value="圣多美和普林西比">圣多美和普林西比</option>
                    <option value="巴巴多斯">巴巴多斯</option>
                    <option value="帕劳共和国">帕劳共和国</option>
                    <option value="比利时">比利时</option>
                    <option value="卢森堡">卢森堡</option>
                    <option value="伯利兹">伯利兹</option>
                    <option value="圣文森特和格林纳丁斯">圣文森特和格林纳丁斯</option>
                    <option value="汤加">汤加</option>
                    <option value="厄立特里亚">厄立特里亚</option>
                    <option value="南非">南非</option>
                    <option value="纳米比亚">纳米比亚</option>
                    <option value="基里巴斯">基里巴斯</option>
                    <option value="巴勒斯坦">巴勒斯坦</option>
                    <option value="博茨瓦纳">博茨瓦纳</option>
                    <option value="斯威士兰">斯威士兰</option>
                    <option value="佛得角">佛得角</option>
                    <option value="圣基茨和尼维斯">圣基茨和尼维斯</option>
                    <option value="莱索托">莱索托</option>
                    <option value="中国台湾">中国台湾</option>
                    <option value="东帝汶">东帝汶</option>
                    <option value="塞尔维亚">塞尔维亚</option>
                    <option value="黑山">黑山</option>
                    <option value="库拉索">库拉索</option>
                </select></br>
                <label for="Product">Product:</label>
                <select name="product" class="product">
                    <option value="乐器及其零件、附件">乐器及其零件、附件</option>
                    <option value="书籍、报纸、印刷图画及其他印刷品；手稿、打字稿及设计图纸">书籍、报纸、印刷图画及其他印刷品；手稿、打字稿及设计图纸</option>
                    <option value="乳品；蛋品；天然蜂蜜；其他食用动物产品">乳品；蛋品；天然蜂蜜；其他食用动物产品</option>
                    <option value="光学、照相、电影、计量、检验、医疗或外科用仪器及设备、精密仪器及设备；上述物品的零件、附件">光学、照相、电影、计量、检验、医疗或外科用仪器及设备、精密仪器及设备；上述物品的零件、附件</option>
                    <option value="其他动物产品">其他动物产品</option>
                    <option value="其他植物纺织纤维；纸纱线及其机织物">其他植物纺织纤维；纸纱线及其机织物</option>
                    <option value="其他纺织制成品；成套物品；旧衣着及旧纺织品；碎织物">其他纺织制成品；成套物品；旧衣着及旧纺织品；碎织物</option>
                    <option value="其他贱金属、金属陶瓷及其制品">其他贱金属、金属陶瓷及其制品</option>
                    <option value="制粉工业产品；麦芽；淀粉；菊粉；面筋">制粉工业产品；麦芽；淀粉；菊粉；面筋</option>
                    <option value="动、植物油、脂及其分解产品；精制的食用油脂；动、植物蜡">动、植物油、脂及其分解产品；精制的食用油脂；动、植物蜡</option>
                    <option value=化学纤维短纤>化学纤维短纤</option>
                    <option value=化学纤维长丝；化学纤维纺织材料制扁条及类似品>化学纤维长丝；化学纤维纺织材料制扁条及类似品</option>
                    <option value=可可及可可制品>可可及可可制品</option>
                    <option value=含油子仁及果实；杂项子仁及果仁；工业用或药用植物；稻草、秸秆及饲料>含油子仁及果实；杂项子仁及果仁；工业用或药用植物；稻草、秸秆及饲料</option>
                    <option value=咖啡、茶、马黛茶及调味香料>咖啡、茶、马黛茶及调味香料</option>
                    <option value=地毯及纺织材料的其他铺地制品>地毯及纺织材料的其他铺地制品</option>
                    <option value=塑料及其制品>塑料及其制品</option>
                    <option value=天然或养殖珍珠、宝石或半宝石、贵金属、包贵金属及其制品；仿首饰；硬币>天然或养殖珍珠、宝石或半宝石、贵金属、包贵金属及其制品；仿首饰；硬币</option>
                    <option value=家具；寝具、褥垫、弹簧床垫、软坐垫及类似的填充制品；未列名灯具及照明装置；发光标志、发光铭牌及类似品；活动房屋>家具；寝具、褥垫、弹簧床垫、软坐垫及类似的填充制品；未列名灯具及照明装置；发光标志、发光铭牌及类似品；活动房屋</option>
                    <option value=已加工羽毛、羽绒及其制品；人造花；人发制品>已加工羽毛、羽绒及其制品；人造花；人发制品</option>
                    <option value=帽类及其零件>帽类及其零件</option>
                    <option value=无机化学品；贵金属、稀土金属、放射性元素及其同位素的有机及无机化合物>无机化学品；贵金属、稀土金属、放射性元素及其同位素的有机及无机化合物</option>
                    <option value=有机化学品>有机化学品</option>
                    <option value=木及木制品；木炭>木及木制品；木炭</option>
                    <option value=木浆及其他纤维状纤维素浆；回收（废碎）纸及纸板>木浆及其他纤维状纤维素浆；回收（废碎）纸及纸板</option>
                    <option value=杂项制品>杂项制品</option>
                    <option value=杂项化学产品>杂项化学产品</option>
                    <option value=杂项食品>杂项食品</option>
                    <option value=核反应堆、锅炉、机器、机械器具及零件>核反应堆、锅炉、机器、机械器具及零件</option>
                    <option value=棉花>棉花</option>
                    <option value=橡胶及其制品>橡胶及其制品</option>
                    <option value=武器、弹药及其零件、附件>武器、弹药及其零件、附件</option>
                    <option value=毛皮、人造毛皮及其制品>毛皮、人造毛皮及其制品</option>
                    <option value=活动物>活动物</option>
                    <option value=活树及其他活植物；鳞茎、根及类似品；插花及装饰用簇叶>活树及其他活植物；鳞茎、根及类似品；插花及装饰用簇叶</option>
                    <option value=浸渍、涂布、包覆或层压的纺织物；工业用纺织制品>浸渍、涂布、包覆或层压的纺织物；工业用纺织制品</option>
                    <option value=炸药；烟火制品；引火合金；易燃材料制品>炸药；烟火制品；引火合金；易燃材料制品</option>
                    <option value=烟草、烟草及烟草代用品的制品>烟草、烟草及烟草代用品的制品</option>
                    <option value=照相及电影用品>照相及电影用品</option>
                    <option value=特种机织物；簇绒织物；花边；装饰毯；装饰带；刺绣品>特种机织物；簇绒织物；花边；装饰毯；装饰带；刺绣品</option>
                    <option value=玩具、游戏品、运动用品及其零件、附件>玩具、游戏品、运动用品及其零件、附件</option>
                    <option value=玻璃及其制品>玻璃及其制品</option>
                    <option value=生皮（毛皮除外）及皮革>生皮（毛皮除外）及皮革</option>
                    <option value=电机、电气设备及其零件；录音机及放声机、电视图像、声音的录制和重放设备及其零件、附件>电机、电气设备及其零件；录音机及放声机、电视图像、声音的录制和重放设备及其零件、附件</option>
                    <option value=皮革制品；鞍具及挽具；旅行用品、手提包及类似容器；动物肠线（蚕胶丝除外）制品>皮革制品；鞍具及挽具；旅行用品、手提包及类似容器；动物肠线（蚕胶丝除外）制品</option>
                    <option value=盐；硫磺；泥土及石料；石膏料、石灰及水泥>盐；硫磺；泥土及石料；石膏料、石灰及水泥</option>
                    <option value=石料、石膏、水泥、石棉、云母及类似材料的制品>石料、石膏、水泥、石棉、云母及类似材料的制品</option>
                    <option value=矿物燃料、矿物油及其蒸馏产品；沥青物质；矿物蜡>矿物燃料、矿物油及其蒸馏产品；沥青物质；矿物蜡</option>
                    <option value=矿砂、矿渣及矿灰>矿砂、矿渣及矿灰</option>
                    <option value=稻草、秸秆、针茅或其他编结材料制品；篮筐及柳条编结品>稻草、秸秆、针茅或其他编结材料制品；篮筐及柳条编结品</option>
                    <option value=精油及香膏；芳香料制品及化妆盥洗品>精油及香膏；芳香料制品及化妆盥洗品</option>
                    <option value=糖及糖食>糖及糖食</option>
                    <option value=絮胎、毡呢及无纺织物；特种纱线；线、绳、索、缆及其制品>絮胎、毡呢及无纺织物；特种纱线；线、绳、索、缆及其制品</option>
                    <option value=纸及纸板；纸浆、纸或纸板制品>纸及纸板；纸浆、纸或纸板制品</option>
                    <option value=编结用植物材料；其他植物产品>编结用植物材料；其他植物产品</option>
                    <option value=羊毛、动物细毛或粗毛；马毛纱线及其机织物>羊毛、动物细毛或粗毛；马毛纱线及其机织物</option>
                    <option value=肉、鱼、甲壳动物、软体动物及其他水生无脊椎动物的制品>肉、鱼、甲壳动物、软体动物及其他水生无脊椎动物的制品</option>
                    <option value=肉及食用杂碎>肉及食用杂碎</option>
                    <option value=肥料>肥料</option>
                    <option value=肥皂、有机表面活性剂、洗涤剂、润滑剂、人造蜡、调制蜡、光洁剂、蜡烛及类似品、塑型用膏、“牙科用蜡”及牙科用熟石膏制剂>肥皂、有机表面活性剂、洗涤剂、润滑剂、人造蜡、调制蜡、光洁剂、蜡烛及类似品、塑型用膏、“牙科用蜡”及牙科用熟石膏制剂</option>
                    <option value=航空器、航天器及其零件>航空器、航天器及其零件</option>
                    <option value=船舶及浮动结构体>船舶及浮动结构体</option>
                    <option value=艺术品、收藏品及古物>艺术品、收藏品及古物</option>
                    <option value=药品>药品</option>
                    <option value=蔬菜、水果、坚果或植物其他部分的制品>蔬菜、水果、坚果或植物其他部分的制品</option>
                    <option value=虫胶；树胶、树脂及其他植物液、汁>虫胶；树胶、树脂及其他植物液、汁</option>
                    <option value=蚕丝>蚕丝</option>
                    <option value=蛋白类物质；改性淀粉；胶；酶>蛋白类物质；改性淀粉；胶；酶</option>
                    <option value=谷物>谷物</option>
                    <option value=谷物、粮食粉、淀粉或乳的制品；糕饼点心>谷物、粮食粉、淀粉或乳的制品；糕饼点心</option>
                    <option value=贱金属工具、器具、利口器、餐匙、餐叉及其零件>贱金属工具、器具、利口器、餐匙、餐叉及其零件</option>
                    <option value=贱金属杂项制品>贱金属杂项制品</option>
                    <option value=车辆及其零件、附件，但铁道及电车道车辆除外>车辆及其零件、附件，但铁道及电车道车辆除外</option>
                    <option value=软木及软木制品>软木及软木制品</option>
                    <option value=针织或钩编的服装及衣着附件>针织或钩编的服装及衣着附件</option>
                    <option value=针织物及钩编织物>针织物及钩编织物</option>
                    <option value=钟表及其零件>钟表及其零件</option>
                    <option value=钢铁>钢铁</option>
                    <option value=钢铁制品>钢铁制品</option>
                    <option value=铁道及电车道机车、车辆及其零件；铁道及电车道轨道固定装置及其零件；附件；各种机械（包括电动机械）交通信号设备>铁道及电车道机车、车辆及其零件；铁道及电车道轨道固定装置及其零件；附件；各种机械（包括电动机械）交通信号设备</option>
                    <option value=铅及其制品>铅及其制品</option>
                    <option value=铜及其制品>铜及其制品</option>
                    <option value=铝及其制品>铝及其制品</option>
                    <option value=锌及其制品>锌及其制品</option>
                    <option value=锡及其制品>锡及其制品</option>
                    <option value=镍及其制品>镍及其制品</option>
                    <option value=陶瓷产品>陶瓷产品</option>
                    <option value=雨伞、阳伞、手杖、鞭子、马鞭及其零件>雨伞、阳伞、手杖、鞭子、马鞭及其零件</option>
                    <option value=非针织或非钩编的服装及衣着附件>非针织或非钩编的服装及衣着附件</option>
                    <option value=鞋靴、护腿和类似品及其零件>鞋靴、护腿和类似品及其零件</option>
                    <option value=鞣料浸膏及染料浸膏；鞣酸及其衍生物；染料、颜料及其他着色料；油漆及清漆；油灰及其他类似胶粘剂；墨水、油墨>鞣料浸膏及染料浸膏；鞣酸及其衍生物；染料、颜料及其他着色料；油漆及清漆；油灰及其他类似胶粘剂；墨水、油墨</option>
                    <option value=食品工业的残渣及废料；配制的动物饲料>食品工业的残渣及废料；配制的动物饲料</option>
                    <option value=食用水果及坚果；甜瓜或柑橘属水果的果皮>食用水果及坚果；甜瓜或柑橘属水果的果皮</option>
                    <option value=食用蔬菜、根及块茎>食用蔬菜、根及块茎</option>
                    <option value=饮料、酒及醋>饮料、酒及醋</option>
                    <option value=鱼、甲壳动物、软体动物及其他水生无脊椎动物>鱼、甲壳动物、软体动物及其他水生无脊椎动物</option>
                    <option value=特殊交易品及未分类商品>特殊交易品及未分类商品</option>
                </select></br>
                <label for="start">Start:</label>
                <input type="date" id="Datestart" name="Datestart"
                       value="2010-01-01"
                       min="2000-01-01" max="2019-12-31"></br>
                <label for="start">End:</label>
                <input type="date" id="Dateend" name="Dateend"
                       value="2018-02-01"
                       min="2000-01-01" max="2019-12-31"></br>
                <label for="Discard">Percent (%):</label>
                <input type="type" id="percent" name="percent"
                      value="2">
                <input id="submit" type="submit" name="button" value="submit">
          </form>
          <div class = "linkTo">
            <a href="http://www.thehemanllc2022.com/effect/prime" style="color: white; text-decoration:none;">Correlation Analysis</a>
        </div>
        <div class = "linkTo">
            <a href="http://www.thehemanllc2022.com/stock/search" style="color: white; text-decoration:none;">Stock Analysis</a>
        </div>
      </div>
    </div>
    <div class="content1">
        <p>THE HEMAN LLC</p></br>
    </div>
</div>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }
    </script>
</body>
</html>